

[class*="controls"] {
  min-height: 300px; }

.controls {
  background-color: #F22613;
  margin: 50px;
  text-align: center;
   font-size: 40px;
 }


.stopwatch {
  background-color: black;
  color: #fff;
}

.results {
    background-color: #F22613;
  margin: 50px;
  text-align: center;
   font-size: 40px;
}